* {
  margin: 0px;
  padding: 0px;
}
body {
  overflow-x: hidden;
  background-color: rgb(247, 247, 247, 1);
}
.banner {
  display: flow-root;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 500px;
  background-position: center;
  background-size: cover;
  background-image: url(images/main_image.png);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}
.container {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 940px;
  margin: 17px auto;
}

.header__logo {
  display: inline-block;
}
.navigation__list {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  gap: 40px;
  list-style-type: none;
}
.navigation__list:last-child {
  margin-right: 20px;
}
.navigation__link {
  font: 400 12px/20px "Oxygen", sans-serif;
  color: white;
  letter-spacing: 0.60px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.banner__title {
  max-width: 940px;
  margin: 0 auto;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
}
.banner__title-text {
  margin-bottom: 20px;
  font: 400 50px/51px "Lora", serif;
  color: white;
  letter-spacing: 2px;
  text-align: center;
}
.banner__title-undertext {
  min-height: 20px;
  font: 400 17px/20px "Oxygen", sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.63);
  margin-bottom: 31px;
}
.banner__title-latest {
  display: inline-block;
  text-decoration: none;
  font: 400 13px/20px "Oxygen", sans-serif;
  text-align: center;
  color: white;
  padding: 12px 31px;
  border-radius: 3px;
  background: rgb(221, 120, 63);
  margin: 0 auto;
}
.underbanner {
  min-height: 65px;
  justify-content: center;
  background-color: white;
  margin: 0;
  max-width: 100%;
}
.underbanner-list {
  display: flex;
  gap: 21px;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  list-style-type: none;
}
.undermain-links__link {
  display: flex;
  min-height: 46px;
  min-width: 139px;
  font: 400 14px/20px "Lora", serif;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(118, 128, 136);
  text-transform: capitalize;
}
.posts {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  flex-flow: column nowrap;
}
.featured-posts {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.featured-posts-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.feature-post {
  display: flex;
  height: 280px;
  width: 460px;
  border-radius: 3px;
  margin: 7px 10px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.feature-post-content {
  display: flex;
  position: relative;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  min-height: 181px;
}
.feature-post-content__title {
  position: relative;
  font: 400 27px/30px "Lora", serif;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  padding: 58px 0 0 20px;
  text-decoration: none;
}
.feature-post-content__desc {
  position: relative;
  font: 400 14px / 25px "Oxygen", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  padding: 6px 0 0 20px;
}
.featured-post-creator {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 420px;
  min-height: 35px;
  padding: 12px 20px 15px 20px;
}
.featured-post-creator__image {
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 60px;
}
.featured-post-creator__name {
  display: flex;
  margin-left: 10px;
  font-family: "Oxygen", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  flex: auto;
}
.featured-post-creator__creation-date {
  font-family: "Oxygen", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
.feature-post__adventure-button {
  display: inline-block;
  padding: 6px 9px 7px 9px;
  margin: 20px;
  background-color: rgb(221, 120, 63);
  border-radius: 2px;
  font: 400 12px / 13px "Oxygen", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.the-road-ahead {
  background-image: url(images/posts-images/the-road-ahead.png);
  background-position: center;
  background-size: cover;
}
.from-top-down {
  background-image: url(images/posts-images/from-top-down.png);
  background-position: center;
  background-size: cover;  
}

.posts-tiltes-style {
  display: flex;
  margin: 60px 0px 16px 0px;
  height: 44px;
  width: 188px;
  border-bottom: 1px solid rgb(222, 222, 222);
  justify-content: center;
  font-family: "Oxygen", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 2px;
}
.most-recent-posts {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.posts-container {
  display: flex;
  top: 120px;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0px 240px 89px 240px;
}
.post {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 291px;
  width: 296px;
  margin: 12px;
  background-color: white;
}
.post-content {
  display: flex;
  position: relative;
  height: 93px;
  width: 100%;
  flex-flow: column nowrap;
}
.post-image {
  position: relative;
  height: 150px;
  width: 296px;
  border-bottom: 1px solid
}
.post-content {
  display: flex;
  position: relative;
  height: 93px;
  width: 100%;
  flex-flow: column nowrap;
  border-bottom: 1px solid rgb(222, 222, 222);
}
.post__title {
  position: relative;
  font: 400 16px/21px "Lora", serif;
  color: rgb(16, 19, 21);
  padding: 14px 0 0 13px;
  text-decoration: none;
}
.post__desc {
  position: relative;
  font: 400 13px/19px "Oxygen", sans-serif;
  color: rgb(122, 122, 122);
  padding: 6px 0 0 13px;
}
.post-creator {
  position: relative;
  display: flex;
  padding: 0 13px;
  min-height: 48px;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.post-creator__image {
  width: 26px;
  height: 26px;
  border-radius: 60px;  
}
.post-creator__name {
  position: relative;
  flex: auto;
  margin-left: 10px;
}
.creator-font {
  font: 400 12px/35px "Oxygen", sans-serif;
  color: rgb(153, 153, 153);
}
.footer {
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 28px 0 27px 0;
}
.footer-background {
  background-image: url(images/Footer.png);
  background-position: center;
  background-color: rgba(35, 47, 56, 0.6);
  background-blend-mode: darken;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
}
.footer__logo {
  display: inline-block;
}
.footer-container {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  min-height: 34px;
}
.footer-navigation {
  gap: 20px;
}
.footer-navigation:last-child {
  margin-right: 10px;
}