* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.navigation__link {
  display: block;
  padding: 20px;
  font: 700 15px/18px sans-serif;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  color: black;
}

.banner {
    background: no-repeat url("images/posts-images/the-road-ahead.png");
    background-size: cover;
    padding: 174px 0 184px 0;
}

.banner__title {
    margin: 0 auto;
    max-width: 430px;
    font: 700 48px/65/ sans-serif;
    color: white;
    background: black;
    text-align: center;
    text-transform: uppercase;
}

.features {
  padding: 53px 0 140px 0;
}

.features__title {
  font: 700 36px/49px sans-serif;
  letter-spacing: -0.03em;
  color: black;
  margin-bottom: 23px;
  max-width: 353px;
}

.features__description {
    font: 500 19px/26px sans-serif;
    letter-spacing: -0.03em;
    color: black; 
    margin-bottom: 20px;
    max-width: 568px; 
}

.features__list {
    margin-bottom: 31px;
    padding-left: 34px;
}


.features__list-item {
    font: 500 19px/26px sans-serif;
    letter-spacing: -0.03em;
    color: black; 
    margin-bottom: 8px;    
}

.features__list-item:last-child {
    margin: 0;
}

.features__offer-link {
    display: inline-block;
    font: 700 16px/22px sans-serif;
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 13px 46px 17px 46px;
    border-radius: 52px;
}

.footer {
    background-color: pink;
}