* {
    margin: 0px;
    padding: 0px;
}
body {
    overflow-x: hidden;
    background-color: rgb(247, 247, 247);
}
::placeholder {
    
    font: 400 16px/24px "Oxygen", sans-serif;
    color: rgb(46, 46, 46);
    padding: 4px 8px;
}

.header {
display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 74px;
    background-color: rgb(46, 46, 46);
    margin-bottom: 64px;
}
.header__content {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    max-width: 1180px;
}
.header__logo {
    background-image: url("/static/admin-images/logo-admin-reversed.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 132px;
    height: 26px;
    margin: 7px 0;
}
.header__avatar {
    display: inline-block;
    background-image: url("/static/admin-images/user-avatar.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 32px;
    width: 32px;
}
.header__logout {
    display: inline-block;
    background-image: url("/static/admin-images/logout.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
    vertical-align: bottom;
}

.newPost {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1180px;
    min-height: 68px;
    margin: 0 auto 32px auto;
    align-items: center;
}
.newPost__title {
    font: 400 34px/40px "Lora", serif;
    margin-bottom: 8px;
}
.newPost__subtitle {
    font: 400 14px/20px "Oxygen", sans-serif;
    color: rgba(46, 46, 46, 0.63);
    min-height: 20px;

}
.newPost__publish {
    width: 100px;
    height: 48px;
    border: 0px;
    border-radius: 3px;
    padding: 12px 24px;
    background-color: rgb(221, 120, 63);
    font: 400 16px/24px "Oxygen", sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.mainInfo {
    display: flex;
    justify-content: center;
}
.form {
    display: inline-flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
}
.form__inputs {
    display: inline-block;
    margin: 40px 20px 56px 40px;
}
.form__title {
    display: inline-block;
    font: 400 27px/30px "Lora", serif;
    margin: 0 0 40px 0;
    min-height: 30px;
}
.form__inputTitle {
    min-height: 61px;
    min-width: 560px;
}
.form__titleLabel, .form__subTitleLabel, 
.form__authorLabel, .form__authorUrlLabel,
.form__publishDate, .form__heroImageBigLabel,
.form__heroImageSmallLabel {
    font: 400 12px/16px "Oxygen", sans-serif;
    color: rgb(122, 122, 122);
    min-height: 16px;
    display: block;
}
#title, #subtitle, #publish_date {
    width: 560px;
    border-width: 0 0 1px 0;
    border-color: rgb(46, 46, 46);
    background-color: rgb(247, 247, 247);
    min-height: 40px;
    font: 400 16px/24px "Oxygen", sans-serif;
    color: rgb(46, 46, 46);
    margin-bottom: 40px;
}
#author_name {
    width: 100%;
    border-width: 0 0 1px 0;
    border-color: rgb(234, 234, 234);
    background-color: rgb(255, 255, 255);
    min-height: 40px;
    font: 400 16px/24px "Oxygen", sans-serif;
    margin-bottom: 40px; 
}
.form__photoUploadButton {
    display: inline-block;
    width: 53px;
    height: 24px;
    font: 400 16px/24px "Oxygen", sans-serif;
    text-align: center;
    border: 0;
    background-color: rgb(255, 255, 255);
    margin: 12px 16px;
}
.form__uploadImage {
    height: 48px;
    width: 48px;
    margin-right: 8px;
    margin-bottom: 40px;
}
.form__PhotoBlock {
    display: inline-block;
}
.form__photoUpload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.form__photoUpload + label {
    display: inline-block;
    min-width: 53px;
    min-height: 24px;
    font: 400 16px/24px "Oxygen", sans-serif;
    text-align: center;
    border: 0;
    background-color: rgb(255, 255, 255);
    margin: 12px 8px;  
    vertical-align: top;
}
.heroImageBigPreview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 560px;
    height: 160px;
    border: 1px dashed;
    border-radius: 6px;
    background-color: rgb(247, 247, 247);
    border-color: rgb(211, 211, 211);
    margin-bottom: 12px;
}
.heroImageSmallPreview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 296px;
    height: 150px;
    border: 1px dashed;
    border-radius: 6px;
    background-color: rgb(247, 247, 247);
    border-color: rgb(211, 211, 211);
    margin-bottom: 12px;
}
.form__imageHint {
    display: inline-block;
    min-width: 560px;
    min-height: 16px;
    font: 400 12px/16px "Oxygen", sans-serif;
    color: rgb(153, 153, 153);
    margin-bottom: 40px;
}

.form__previewsBlock {
    display: inline-flex;
    flex-direction: column;
    max-width: 560px;
    margin: 0px 80px 0 40px;
}
.form__previewBigLabel {
    font: 400 12px/16px "Oxygen", sans-serif;
    color: rgb(122, 122, 122);
    min-height: 16px;
    display: block;
    margin-top: 110px;
    margin-bottom: 16px;
}
.form__previewBig {
    display: inline-block;
    width: 440px;
    height: 385px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 30px;
    padding: 32px 16px 0 16px;
    position: relative;
}
.form__previewBigInner {
    display: inline-block;
    width: 408px;
    height: 353px;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 8px;
}
.form__previewBigAlignment {
    width: 408px;
    height: 23px;
}
.form__previewBigInner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__previewBigTitle {
    font: 400 20.4px/24px "Lora", serif;
    text-align: center;
    margin: 59px 0 4px 0;
}
.form__previewBigSubtitle {
    font: 400 10.2px/12px "Oxygen", sans-serif;
    text-align: center;
    color: rgba(46, 46, 46, 0.63);
    margin-bottom: 36px;
}
.form__previewBigImage {
    background-color: rgb(247, 247, 247);
    width: 100%;    
    height: 160px;
}
.form__previewBigGradientHorizontal {
    display: inline-block;
    width: 101%;
    height: 75px;
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    color: transparent;
    bottom: 0;
    left: 0;
}
.form__previewBigGradientVertical {
    display: inline-block;
    width: 119px;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    color: transparent;
    right: 0;  
    top: 0;
}